:root {
    --main-text-color: #eb2626;
    --main-background-color: #041024; 
}

/* GERAL */
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: #fafafa;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #d6862c;
    color: #041024;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* NAVBAR */

#nav-main {
    background-color: var(--main-background-color); 
}

#navbar {
    justify-content: space-between;
    padding: 5px 0;
}

#navbar a {
    font-size: 18px;
    color: var(--main-text-color); 
    font-weight: bold;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #ff9999;
}

#logo-img {
    width: 75px;
    height: 65px;
}

/* Search Container */

#search-container {
    margin-top: 20px;
    color: var(--main-text-color);
}

#search {
    border-radius: 25px 0 0 25px;
}

.input-group-append .btn {
    border-radius: 0 25px 25px 0;
}

.btn-outline-primary {
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.btn-outline-primary:hover {
    background-color: var(--main-text-color);
    color: #fff;
}

/* Events list */
#events-container {
    padding: 50px;
    object-fit: cover;
}

#events-container h2 {
    margin-bottom: 10px;
    color:  var(--main-text-color);
}

#events-container .subtitle {
    color: #0a4e8f;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card {
    background-color: #7575750a;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card .card-date {
    font-size: 12px;
    color: #ccc;
}

.card .card-title {
    color: #052252;
    font-size: 25px;    
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.card .card-info {
    font-size: 20px;
    color: #3d3b3b;
    margin: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card .btn-primary {
    background-color: #052252;
    border: none;
}

.card .btn-primary:hover {
    background-color: var(--main-background-color);
}

#card-icon-red {
    font-size: 15px; 
    color: red;
}

#card-icon-green {
    font-size: 15px; 
    color: green;
}

#card-icon-yellow {
    font-size: 15px; 
    color: yellow;
}

/* EVENT CREATE PAGE */

#create-title {
    color:  var(--main-text-color);
}

#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
    padding: 5px;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 15px;
}

#checkbox-list {
    font-size: 16px;
}

#button-create {
    margin-top: 20px;
}

#add-item {
    background-color: #155724;
    border: none;
}

.icon-close {
    font-size: 1.5em;
    color: red;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.checkbox-item {
    column-width: 200px;
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
}
.form-group {
    break-inside: avoid; 
    page-break-inside: avoid;
}

/* EVENT PAGE */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
    color: var(--main-text-color);
}

#info-container p {
    margin: 0;
    font-size: 16px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: var(--main-text-color);
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

#description-container {
    margin-top: 30px;
}

#info-container .already-joined-msg {
    margin: 15px 0;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    padding: 10px;
    width: 275px;
}

#info-container .aguard-joined-msg {
    margin: 15px 0;
    color: #856404; 
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    width: 275px;
}


/* DASHBOARD */

.table {
    text-align: center  ;
}


.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-title-container h1 {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 32px;
}

.dashboard-events-container {
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem; 
    padding: 10px; 
}

.dashboard-events-container th {
    width: 25%;
    text-align: center;
}

.dashboard-events-container form {
    display: inline-block;
}

#dash-button {
    margin: 5px;
}

.event-table-container {
    max-height: 800px; 
    overflow-y: auto; 
    padding: 10px; 
}

/* EDIT PAGE */
.img-preview {
    width: 100px;
    margin-top: 20px;
}

/* SHOW */
#carousel {
    display: flex;
    align-items: center;
}

#carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-image {
    max-width: 100%;
    display: none;
}

.carousel-image.active {
    display: block;
}

#prevBtn, #nextBtn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#show-image {
    height: 400px;
    object-fit: contain;
}

#items-list {
    column-width: 200px; 
    -moz-column-width: 150px;
    -webkit-column-width: 150px;
    column-gap: 10px; 
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    padding: 0;
    margin: 0;  
}

#items-list li {
    break-inside: avoid; 
    page-break-inside: avoid; 
    padding: 5px 0; 
    margin: 0; 
    list-style: none;
}

.btn-map {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #052252; /* Cor do botão */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-map:hover {
    background-color: #357ae8; /* Cor do botão ao passar o mouse */
}
.btn-map ion-icon {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

#peding-button {
    font-size: 22px;
}

.gallery-image-wrapper {
    position: relative;
    width: 150px;  
    height: 150px; 
    margin-bottom: 15px;
    overflow: hidden;
    background-image: url('URL_DA_IMAGEM_MOLDURA');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-image-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.gallery-column {
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* SHOW EVENT */

.gallery-image-circle {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

#info-sub-titulo {
    color: #052252;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
} 


/* FOOTER */
footer {
    text-align: center;
    background-color: #cbcccea1;
    color: #212121;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    #events-container .card {
        max-width: 100%;
        flex: none;
        margin-bottom: 20px;
    }

    #search-container form {
        width: 100%;
        margin: 0 auto;
    }

    .checkbox-item {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-width: auto;
        -moz-column-width: auto;
        -webkit-column-width: auto;
    }

    #items-list {
        column-count: 2; /* Mudar para duas colunas */
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-width: auto; /* Redefinir a largura da coluna para o padrão (automático) */
        -moz-column-width: auto;
        -webkit-column-width: auto;
    }

    #show-image {
        height: 200px;
        object-fit: contain;
    }

    #dash-button {
        margin: 5px;
        font-size: 14px;
    }

    .btn-map {
        margin-bottom: 10px;
    }

    /* Home */
    .w-50 {
        width: 100% !important;
    }

    #events-container {
        padding: 10px;
    }
    
    #events-container h2 {
        margin-top: 20px;
    }

    /* Show */
    .gallery-image-wrapper {
        margin-bottom: 10px;
    }
}
